.footer {
  background-image: url("../public/footer_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100vw;
  min-height: 500px;
  position: relative;
  z-index: 2;

  .bg-footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    padding: 50px 0;
    min-height: 500px;
  }
  input {
    background: rgb(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid #fff !important;
    }
    &::placeholder {
      color: #fff;
    }
  }
  .sub-btn {
    background: rgb(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .footer-end {
    background: #00000080;
    width: 100%;
    a {
      background: #000;
      width: 50px;
      height: 50px;
      border-radius: 9999px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}
